Thumbs.db
*.obj
*.dll
*.exe
*.pdb
*.user
*.aps
*.opensdf
*.sdf
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.opensdf
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*

#NuGet
packages/

# visual studio database projects
*.dbmdl

# upgrade Visual Studio 2012
_UpgradeReport_Files/*
Backup/*
ipch/*
UpgradeLog*
